header{
 width: 100%;
 margin: 0;
 padding: 0;

}
.row {
  display: flex;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 12,5%;
  max-width: 12,5%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.colom{
	flex: 12,5%;
	max-width: 12,5%;
	padding: 0 4px;
}


.colom img{
	margin-top: 8px;
	vertical-align: middle;
	width: 50%;
}

.colom {
	flex: 50%;
	max-width: 50%;
}
}


