

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}



/* Header */
header {
    background-color: #f4f5f7;
    overflow: hidden;
    min-height: 120px;
    border-top: 8px solid #848490;
    position: sticky;
    top: 0;
}

header nav ul {
    position: relative;
    top: 40px;
    float: right;
    margin-right: 300px;
}
header nav ul li {
    display: inline;
    padding: 0 30px 0 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #1a74c2;
    transition: 0.3s;
}

header nav ul li a:hover {
    color: black;
    transition: 0.3s;
}

header nav img {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}



/* Business */
#business {
    background-image: url(banner_bg.png);
    height: 500px;
    width: 100%;
    border-bottom: 100px solid black;
}

#business img {
    margin-top: 97px;
    margin-left: 307px;
}

#business #text {
    float: right;
    width: 30%;
    margin-right: 20px;
    margin-top: 90px;
    color: white;
}

#business #text p {
    line-height: 22px;
}

#business #text h2 {
    font-size: 26px;
}



/* Sliders */
#sliders {
    color: black;
    text-align: center;
    margin-top: 85px;
    height: 180px;
}

#sliders .slider {
    display: inline;
    padding: 0 50px 0 50px;
}


/* Slider-Text */
#slider-text {
    text-align: center;
    margin-bottom: 50px;
}

.slider-title {
    display: inline-block;
    padding: 0 120px 0 120px;
}

.slider-content {
    width: 25%;
    display: inline-block;
}

.slider-content p {
    width: 91%;
    line-height: 23px;
}



/* Footer */
footer {
    background-color: #1a74c2;
    overflow: hidden;
    text-align: center;
    color: white;
}